@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: handcheera;
  src: url("../fonts/HandycheeraRegular.otf");
}

* {
  margin: 0;
  padding: 0;
}

*::selection {
  color: black;
  background-color: #ecd3bd;
}

:root{
  --background-color : #ecd3bd;
  --secondary-bg : #a34d004d;
  --text-color : black;
  --secondary-text-color : white;
  --border-color : black;
  --hover-white : white;
}

html{
  scroll-behavior: smooth;
}

.App {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  font-size: 1em;
  background-color: var(--background-color);
}

.nav button,
.nav a {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  height: 78px;
  align-items: center;
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  z-index: 999;
  background-color: var(--secondary-bg);
}

.nav a {
  font-size: 3.2rem;
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: "handcheera" ,serif;
  font-weight: 900;
  padding-left: 17px;
  padding-top: 16px;
}

.menu{
  display: flex;
  width: 58%;
  margin-left: 30px;
  justify-content: space-between;
  z-index: 99;
  align-items: flex-end;
  height: 40%;
}

.menu a {
  font-size: 1.07rem;
  padding: 0;
  font-family: poppins,sans-serif;
  text-decoration: none;
  color: white;
  padding-left: 15px;
  transition: 0.5s;
  font-weight: 700;
  padding-right: 10px;
  z-index: -1;
  background-color: #54290c;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.menu a:hover {
  box-shadow: none;
}

.nav button {
  position: relative;
  height: 32px;
  background: transparent;
  color: black;
  animation: none;
  border-radius: 17px;
  display: flex;
  padding: 8px;
  padding-left: 0px;
  padding-right: 24px;
  padding-top: 26px;
  align-items: center;
  font-size: 16px;
  border: 0;
  font-weight: 700;
}


.main {
  text-align: center;
  margin-top: 48px;
}

#product1,
#product2,
#product3,
#product4 {
  position: relative;
  padding-top: 66px;
}

.product-container {
  display: grid;
  grid-template-columns: 414px 414px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 12px 20px;
  justify-content: center;
  margin-top: 6px;
}

.main h2 {
    width: 11%;
    font-weight: 900;
    font-size: 1.1rem;
    color: var(--secondary-text-color);
    padding: 9px;
    background-color: black;
    transform: skew(7deg, -28deg);
    scale: 0.8;
    rotate: 27deg;
    text-align: center;
    margin: 0 auto;
}

.main div a {
  text-decoration: none;
  color: var(--text-color);
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.9rem;
}

.main::-webkit-scrollbar {
  width: 0 !important
}

.col-1 {
  width: 43%;
}

.col-1 p {
  font-weight: 600;
  font-size: 1rem;
}

.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  padding-bottom: 11px;
  z-index: 1;
  width: 20%;
}

.col-2 a {
  color: var(--text-color);
}

.col-2 span {
  font-weight: 300;
  font-size: 0.8rem;
  text-decoration: underline;
}

.product {
  display: flex;
  border: 1px solid;
  width: 100%;
  margin: auto;
  height: 172px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 3px;
  background-color: var(--secondary-text-color);
  z-index: 2;
}

.product img {
  width: 43%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  mix-blend-mode: multiply;
}

.product-details {
  width: 40%;
  height: 100%;
  margin-top: 30px;
}

.product-details h3 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.1;
}

.product-details p {
  font-size: 0.75rem;
  font-weight: 400;
}

.product-details h4 {
  font-size: 1rem;
  color: #e1e100;
}

.pricing {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  padding-left: 3px;
  align-items: center;
}

.pricing p {
  font-weight: 700;
  font-size: 0.9rem;
}

.notclicked {
  background-color: #00a500;
  border: 1px solid white;
  color: var(--secondary-text-color);
  padding: 6px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  font-size: 0.8rem;
}

.notclicked:hover {
  background-color: #67df67;
}

.clicked {
  color: var(--text-color);
  font-size: 0.8rem;
  background-color: white;
  border: 1px solid;
  padding: 4.8px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  cursor: pointer;
}

.range {
  display: flex;
  width: 1%;
  justify-content: center;
  margin-top: 12px;
  align-items: center;
  font-size: 0.8rem;
}

.range p {
  margin-left: 10px;
  margin-right: 10px;
}

.range button {
  color: var(--text-color);
  background: white;
  padding-left: 8px;
  text-align: center;
  padding-right: 8px;
  padding-top: 1px;
  cursor: pointer;
  transition: 0.2s;
}

/* Cart items component */
.backDrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);
}

.cartBack,.ordersBack{
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: grid;
  place-content: center;
}

.cart {
  background: white;
  width: 374px;
  height: 467px;
  left: auto;
  padding: 23px;
  border-radius: 28px;
  border: 1px solid;
  z-index: 2;
  position: relative;
  animation: popup .09s linear;
}

.user {
  display: flex;
  position: absolute;
  bottom: 13px;
  width: 82%;
  height: 47px;
}

.user img {
  width: 13%;
  object-fit: contain;
}

.username {
  padding: 9px;
  line-height: 14px;
}

.username h3 {
  font-size: 16.5px;
  text-transform: capitalize;
}

.username p {
  font-size: 14px;
}

.user button {
  color: var(--text-color);
  margin-top: 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-family: "Poppins";
  position: absolute;
  right: 0;
  border: 0;
  padding: 10px;
  border-radius: 22px;
}


.user button:hover {
  background-color: rgba(255, 0, 0, 0.539);
}

.cart-items {
  margin-top: 5px;
  overflow-y: scroll;
  height: 290px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3B2F2F;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.item {
  border-bottom: 2px solid;
  width: 93%;
  padding: 8px;
}

.item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item div button {
  border: 0;
  font-weight: 600;
  color: black;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 17px;
  cursor: pointer;
  font-size: 15px;
  font-family: "Poppins";
  border: 1px solid #111;
  border-radius: 0;
}

.item div button:hover {
  background-color: rgba(255, 0, 0, 0.539);
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 95%;
  align-items: center;
  font-size: 1.05rem;
}

.cart-total button {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  width: 97px;
  padding: 7px;
  justify-content: space-between;
  font-size: 14px;
  border-radius: 16px;
  cursor: pointer;
}

.success-wrap {
  width: 100vw;
  /* margin: auto; */
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: 'Poppins', serif;
  background-color: #ecd3bd;
}

.payment-success {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  background-color: white;
  width: 344px;
  border-radius: 16px;
  padding: 38px;
}

.payment-success img {
  width: 32%;
}

.payment-success a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
  font-weight: 600;
  background: #efefef;
  padding: 12px;
}


.orders-wrap {
  display: flex;
  flex-direction: column;
  width: 385px;
  position: relative;
  background-color: white;
  height: 453px;
  padding: 26px;
  border: 1px solid;
  border-radius: 28px;
  border: 1px solid;
  animation: 0.09s popup linear;
}

.orders-wrap h2 {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.orders {
  overflow-y: scroll;
  height: 361px;
  width: 103%;
  display: flex;
  flex-flow: wrap;
}

.order {
  margin-top: 10px;
  background-color: #f6e1cf;
  padding: 14px;
  height: 115px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 96.5%;
  justify-content: space-between;
}

.order h4 {
  padding: 0px;
  font-size: 15.5px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.order p {
  font-size: 15.5px;
}

.order h6 {
  font-size: 12.25px;
}

.out {
  animation: out 0.3s ease-out;
}

@keyframes out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes popup {
  0%{
    transform: scale(0.1);
  }
  100%{
    transform: scale(1);
  }
}

.total-items{
  background-color: chartreuse;
  color: black;
  font-size: 11px;
  width: 14px;
  height: 13px;
  align-self: center;
  margin-left: 0px;
  border-radius: 24px;
  margin-top: -21px;
}

/* for responsiveness */

