.search__sidebar {
  /* background-color: #FFE8DB; */
  height: 100%;
  width: 100%;
  box-shadow: 7px 0px 5px #c2a59a;
  position: sticky;
  top: 90px;
  padding-left: 2.5%;
}

.filter__div {
  height: 100%;
  min-height: 450px;
  width: 100%;
  background-color: #ffe8db;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.filter_Heading {
  font-size: 1.8vw;
  padding-left: 2%;
  color: rgb(166, 92, 65);
  font-weight: bold;
}

.search_filter__input {
  border: 1px solid #d9b6ae;
  font-size: 1.3vw;
  border-radius: 15px;
  width: 100%;
  text-align: center;
  background-color: #fef9f3;
  margin: 10% 2% 8%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: rgb(168, 103, 79);
}

hr {
  width: 100%;
}
.search__input_div {
  padding-left: 4%;
}
.search_filter__input::placeholder {
  color: gray;
  text-transform: uppercase;
}

.select_category {
  display: flex;
  flex-direction: column;
  margin: 5% 0 7% 0;
}
.category__heading {
  /* margin-left: %; */
  padding-left: 4%;
  font-size: 1.7vw;
  color: rgb(168, 103, 79);
  font-weight: bold;
}
.category__section {
  display: flex;
  flex-direction: column;
}

.category {
  font-size: 1vw;
  z-index: 1;
  margin-left: 40%;
  text-transform: uppercase;
  width: 110%;
  min-width: min-content;
  padding: 3px;
  padding-left: 5px;
  border-radius: 12px;
  transition: all 0.2s ease-in;
}

.category:hover {
  cursor: pointer;
  background-color: #54321e;
  color: rgb(239, 205, 189);
  font-size: 1.2rem;
}

.price__range {
  margin: 5% 0 7% 0;
}

.price__label {
  color: rgb(168, 103, 79);
  font-size: 1.7vw;
  margin-bottom: 8px;
  margin-left: 1%;
  font-weight: bold;
}

.inputs {
  display: flex;
  justify-content: space-evenly;
}

.price__input {
  border: 1px solid #d9b6ae;
  font-size: 15px;
  text-align: center;
  border-radius: 15px;
  padding: 8px;
  width: 30%;
  margin-bottom: 8px;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* For modern WebKit browsers (like Chrome and Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price__slider_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="range"] {
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #a6815c;
  border-radius: 16px;
}

input[type="range"]::-moz-range-track {
  height: 15px;
  background: #a6815c;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #54321e;
  box-shadow: -407px 0 0 400px #54321e;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  box-shadow: -407px 0 0 400px #f50;
}

.rating__filter {
  background-color: black;
  width: 90%;
  margin-top: 0;
  display: flex;
  margin-left: 5%;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.Rating__label {
  color: rgb(168, 103, 79);
  font-size: 24px;
  margin: 7% 0% 0% 2%;
  font-weight: bold;
}

.star-rating {
  font-size: 10px;
  cursor: pointer;
  margin-left: 2%;
}

.star {
  font-size: 2.4vw;
  color: #79554198;
  transition: color 0.3s;
}

.star.filled {
  color: #f39c12;
}

@media screen and (max-width: 768px) {
  .filter_Heading {
    font-size: 1.8em;
  }
  .search_filter__input {
    font-size: 1.2em;
    width: 90%;
  }
  .category__heading {
    font-size: 1.4em;
  }
  .category {
    font-size: 1.7vw;
  }
  .category:hover {
    font-size: 1.2rem;
  }
  .price__label {
    font-size: 1.4em;
  }
  .price__input {
    font-size: 0.8125em;
  }
  .Rating__label {
    font-size: 1.4em;
  }
  .star {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 426px) {
  .category__section {
    margin-left: 40%;
  }
  .category {
    margin-left: 1%;
    font-size: 3.8vw;
  }
  .inputs {
    justify-content: flex-start;
    margin-left: 2%;
    /* gap:5; */
  }
  .price__input--min {
    margin-right: 10%;
  }
  .price__slider_container {
    align-items: flex-start;
    margin-left: 2%;
  }
  .star {
    font-size: 8.5vw;
  }
}
