*{
  color: black;
}
.search__sidebar {
  width: 18rem;
  height: 100vh;
  height: 104.79%;
  background-color: var(--color-bg);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;

}

.filter__div {
  height: 100%;
  min-height: 450px;
  width: 100%;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.filter_Heading {
  font-size: 1.8vw;
  font-weight: bold;
  margin-bottom: 13px;

}

.search__input_div{
  display: flex;
  align-items: center;
}

.search_filter__input {
  font-size: 1.3vw;
  border: 0;
  border-radius: 15px;
  width: 16vw;
  padding: 8px;
  background-color: #f1f1f1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  outline: none;
  margin-bottom: 17px;
}
.search__input___btn{
  background: #b38460;
  border: 0;
  border-radius: 50%;
  width: 43px;
  aspect-ratio: 1 / 1;
  margin-left: -37px;
  margin-top: -18px;
}

hr {
  width: 100%;
  margin: 0 auto;
}

.search_filter__input::placeholder {
  color: gray;
  font-size: 16px;
}

.select_category {
  display: flex;
  flex-direction: column;
  margin: 5% 0 7% 0;
}

.category__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 175px;
  height: 175px;
  margin-left: 10%;
}

.category {
  font-size: 1vw;
  z-index: 1;
  text-transform: uppercase;
  min-width: min-content;
  border-radius: 49px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  background-color: #b38460;
  color: white;
  padding: 10px;
  padding-left: 21px;
  font-weight: 600;
}

.price__range {
  margin: 5% 0 7% 0;
}

.price__label {
  color: rgb(168, 103, 79);
  font-size: 1.7vw;
  margin-bottom: 8px;
  margin-left: 1%;
  font-weight: bold;
}

.inputs {
  display: flex;
  justify-content: space-evenly;
}

.price__input {
  border: 1px solid #d9b6ae;
  font-size: 15px;
  text-align: center;
  border-radius: 15px;
  padding: 8px;
  width: 30%;
  margin-bottom: 8px;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* For modern WebKit browsers (like Chrome and Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price__slider_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="range"] {
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #a6815c;
  border-radius: 16px;
}

input[type="range"]::-moz-range-track {
  height: 15px;
  background: #a6815c;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #54321e;
  box-shadow: -407px 0 0 400px #54321e;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  box-shadow: -407px 0 0 400px #f50;
}

@media screen and (max-width: 768px) {
  .filter_Heading {
    font-size: 1.8em;
  }
  .search_filter__input {
    font-size: 1.2em;
    width: 90%;
  }
  .category {
    font-size: 1.7vw;
  }
  /* .category:hover {
    font-size: 1.2rem;
  } */
  .price__label {
    font-size: 1.4em;
  }
  .price__input {
    font-size: 0.8125em;
  }
}
@media screen and (max-width: 426px) {
  .category__section {
    margin-left: 40%;
  }
  .category {
    margin-left: 1%;
    font-size: 3.8vw;
  }
  .inputs {
    justify-content: flex-start;
    margin-left: 2%;
    /* gap:5; */
  }
  .price__input--min {
    margin-right: 10%;
  }
  .price__slider_container {
    align-items: flex-start;
    margin-left: 2%;
  }

}
