.yesno {
    float: right;
    padding: 25px 0 0 0;
}

.no,
.yes {
    padding: 10px;
    width: 90px;
    border: none;
    background: #d83636;
    color: var(--secondary-text-color);
    /* text-transform: uppercase; */
    letter-spacing: 2px;
}
.yes {
    margin-left: 10px;
    background: green;
}
